body{
  background-image: url("img/Mon1A.jpg");
  background-position: top;
}

h1 {
  background:#BA68C8;
  width:90%;
  max-width:1000px;
  margin:auto;
  overflow:hidden;
  font-family: Lucida, Monospace;
  font-size: 40px;
  color: #FBFCFC;
}

h2 {
  width:90%;
  max-width:1000px;
  margin:auto;
  overflow:hidden;
  font-family: Lucida, Monospace;
  font-size: 25px;
  color: #A569BD;
}

h3 {
  font-family: Lucida, Monospace;
  font-size: 15px;
  color: #A569BD;
}

section{
  background:#00BCD4;
  width:90%;
  max-width:1000px;
  margin:auto;
  overflow:hidden;
  font-size: 30px;
  align-content: center;
}

P{
  background-color: #00BCD4;
  font-size: 25px;
  font-family: Lucida, Monospace;
  color: #5B2C6F;

}
